/*hero*/
.hero {
    padding: 118px 0;
    max-width: 1600px;
    margin: 0 auto;
    background-color: $banner-color;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right, $color-gradient, $color-gradient),
            url(../images/hero-mobile.jpg);

    @media (min-device-pixel-ratio: 2) and (max-width:767px),
         (min-resolution: 192dpi) and (max-width:767px),
         (min-resolution: 2dppx) and (max-width:767px){
            background-image: linear-gradient(to right, $color-gradient, $color-gradient),
            url(../images/hero-mobile@2x.jpg);
    }

    @media screen and (max-width:1199px){
        
        background-image:linear-gradient(to right, $color-gradient, $color-gradient),
         url(../images/hero-tablet.jpg);
    }
    @media (min-device-pixel-ratio: 2) and (max-width:1199px),
         (min-resolution: 192dpi) and (max-width:1199px),
         (min-resolution: 2dppx) and (max-width:1199px) {
             background-image:linear-gradient(to right, $color-gradient, $color-gradient),
              url(../images/hero-tablet@2x.jpg);
    }

    @media screen and (min-width:1200px) {
        padding: 200px 0;
            background-image:linear-gradient(to right, $color-gradient, $color-gradient),
             url(../images/hero-desctop.jpg);
    }
    @media (min-device-pixel-ratio: 2) and (min-width:1200px),
           (min-resolution: 192dpi) and (min-width:1200px),
            (min-resolution: 2dppx) and (min-width:1200px) {
            background-image:linear-gradient(to right, $color-gradient, $color-gradient),
             url(../images/hero-desctop@2x.jpg);
    }


    &__title {
        text-align: center;
        color: $primary-text-color;
        max-width: 360px;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        margin: 0 auto 30px;
        @media screen and (min-width:1200px) {
            max-width: 696px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__button {
        display: block;
        margin: 0 auto;
        padding: 10px 24px;
        color: $primary-text-color;
        background-color: $accent-color;

        @media screen and (min-width:1200px) {
            padding: 10px 32px;
        }
    }
}
