.mobile-socials{
    @extend %list-none;
    display: none;

    @media screen and (max-width:767px){
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
        

    &__item:not(:last-child){
        border-right: 1px solid $border-modal-input-color;
            
    }

    &__link {
        padding-right: 10px;

        @extend %link-none;
        color: $accent-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        
    }
}


