.mobile-contact{
    @extend %list-none;
        display: flex;
        flex-direction: column;
        

    &__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }  
    }
    &__link {
        @extend %link-none;
        display: flex;
        font-weight: 500;
        color:$secondary-text-color;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &--email{
            font-size: 34px;
            line-height: 1.1764;
        }
        &--number{   
            font-size: 24px;
            line-height: 1.1666;
        }
    

        &:hover,
        &:focus{
            color: $accent-color;
        }
    }
}
    
       
    
       
