
/*header logo*/
.page-header {
    border-bottom: 1px solid $header-border-color;
   
   

    &__block {
        display: flex;
        align-items: center;

        @media screen and (max-width:767px) {
            justify-content: space-between;
        }
       
    }

    &__logo {
        margin-right: 92px;
    }

    &__contact {
        margin-left: auto;
    }

    
}

   

  
    




